body {
margin:0;
font-family:Arial Black;
background:black;
color:white;
}

/* HEADER */
header{
text-align:center;
padding:40px;
color:#b30000;
text-shadow:0 0 15px red;
}

/* GRID GALLERY */
.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:40px;
}

.card{
cursor:pointer;
overflow:hidden;
border-radius:10px;
box-shadow:0 0 20px darkred;
transition:0.4s;
}

.card:hover{
transform:scale(1.08);
box-shadow:0 0 35px red;
}

.card img{
width:100%;
height:200px;
object-fit:cover;
}

/* SINGLE VIEW */
.single-view{
display:none;
padding:40px;
text-align:center;
}

.single-view img{
width:70%;
max-width:700px;
border-radius:15px;
box-shadow:0 0 40px red;
}

.single-view p{
margin-top:25px;
font-size:20px;
line-height:1.7;
letter-spacing:2px;
}

.back-btn{
background:black;
color:red;
border:2px solid red;
padding:10px 20px;
cursor:pointer;
margin-bottom:20px;
}

.music-box button{
background:black;
color:red;
border:2px solid darkred;
padding:10px 20px;
margin-top:20px;
cursor:pointer;
box-shadow:0 0 15px red;
}
