body{
    margin:0;
    font-family:Arial Black, sans-serif;
    background:black;
    color:white;
    overflow-x:hidden;
}

/* BLOOD DRIP */
.blood{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:70px;
    background:
      radial-gradient(circle at 10% 0, darkred 20px, transparent 21px),
      radial-gradient(circle at 30% 0, darkred 25px, transparent 26px),
      radial-gradient(circle at 60% 0, darkred 18px, transparent 19px),
      radial-gradient(circle at 80% 0, darkred 30px, transparent 31px);
    animation:drip 4s infinite;
    z-index:999;
}
@keyframes drip{
    0%{height:60px;}
    50%{height:80px;}
    100%{height:60px;}
}

/* PASSWORD */
#lock{
    position:fixed;
    inset:0;
    background:black;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:1000;
}
#lock input{
    padding:10px;
    background:black;
    border:2px solid red;
    color:white;
}
#lock button{
    margin-top:15px;
    padding:10px 25px;
    background:black;
    color:red;
    border:2px solid red;
    cursor:pointer;
}

/* HEADER */
header{
    text-align:center;
    padding:80px 20px 40px;
}
header h1{
    color:#b30000;
    letter-spacing:6px;
    text-shadow:0 0 15px red;
}
header p{
    color:#ccc;
    letter-spacing:3px;
}

/* GALLERY GRID */
#gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
    padding:40px;
}
.card{
    cursor:pointer;
    border-radius:12px;
    overflow:hidden;
    box-shadow:0 0 20px darkred;
    transition:0.4s;
}
.card:hover{
    transform:scale(1.08);
    box-shadow:0 0 35px red;
}
.card img{
    width:100%;
    height:200px;
    object-fit:cover;
}

/* SINGLE VIEW */
#singleView{
    display:none;
    text-align:center;
    padding:40px;
    transform:translateX(100%);
    transition:0.6s;
}
#singleView.active{
    transform:translateX(0);
}
#singleView img{
    width:75%;
    max-width:700px;
    border-radius:15px;
    box-shadow:0 0 40px red;
}
#singleView p{
    margin-top:25px;
    font-size:20px;
    line-height:1.8;
    letter-spacing:2px;
}

/* BUTTONS */
.btn{
    background:black;
    color:red;
    border:2px solid red;
    padding:10px 25px;
    margin:10px;
    cursor:pointer;
    box-shadow:0 0 10px red;
}
